header {
  background-color: var(--background-el);
  box-shadow: 0.2rem rgba(0, 0, 0, 0.06), 0.2rem rgba(0, 0, 0, 0.12);
}

header .container {
  max-width: 90rem;
}

header .container h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header .btn-toggle-dark-mode {
  background-color: var(--background-el);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: inherit;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9rem;
}

.btn-toggle-dark-mode:focus {
  outline: none;
}

header .btn-toggle-dark-mode .fas {
  display: none;
}

body.dark header .btn-toggle-dark-mode .fas {
  display: inline-block;
}

body.dark header .btn-toggle-dark-mode .far {
  display: none;
}
