header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 3.4rem;
  max-width: 100%;
  background-color: var(--background-el);
  box-shadow: 0.2rem rgba(0, 0, 0, 0.06), 0.2rem rgba(0, 0, 0, 0.12);
}

header h1 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header .btn-toggle-dark-mode {
  background-color: var(--background-el);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: inherit;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 9rem;
  padding-top: 1rem;
}

.btn-toggle-dark-mode:focus {
  outline: none;
}

header .btn-toggle-dark-mode .fas {
  display: none;
}

body.dark header .btn-toggle-dark-mode .fas {
  display: inline-block;
}

body.dark header .btn-toggle-dark-mode .far {
  display: none;
}

@media (min-width: 763px) {
  header h1 {
    font-size: 2rem;
  }

  header .btn-toggle-dark-mode {
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    width: 11rem;
    border: 0.1rem solid silver;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 0;
  }

  header .container-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
  }

  /* CSS */
}
