/* Estilos Generales */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --background-el: hsl(0, 0%, 100%);
  --body: hsl(0, 0%, 98%);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: hsl(200, 15%, 8%);
  background-color: var(--body);
  margin: 0;
}

body.dark {
  color: hsl(0, 0%, 100%);
  --body: hsl(207, 26%, 17%);
  --background-el: hsl(209, 23%, 22%);
}

img {
  max-width: 100%;
}

.container {
  max-width: 97rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.9rem;
  position: relative;
  margin: auto;
}
